<template name="animal">
 <div id="profile">
    <div class="container">
      <div class="row">

          <h2>{{name}}</h2>
      </div>
      <div class="row">
              <img src='{{link}}'>
      </div>
      <div class="row">

              Breed:
              {{Breed}}
      </div>
      <div class="row">

              Location:
              {{Location}}
      </div>
      <div class="row">

              Biography:

              {{Bigraphy}}

      </div>
      <div class="row">

              Age:
              {{Age}}
          </div>

      <div class="row">

              Size:

             {{size}}
             </div>
             </div>


  </div>
</template>