<template name="blog">
<div class="padding">
  <div class="blog">
    <p>
    This blog is dedicated to our gorgeous animals and their highs and lows. Sharing their stories helps Kirsten’s Zoo reach a wider audience, which means that we will be able to home more of our deserving friends. So we would like to take this opportunity to invite the whole community, from fosterers and adopters to those who want to help. You can get involved in a number of ways, from commenting or uploading a picture to writing a blog and sharing a story about your pet.</p>
    <p>
    It only takes a moment to subscribe, then you can start to help reach those families looking for a furry friend!</p>

  </div>
</div>

</template>